@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
	--color-layer-1: #979eff;
	--color-layer-2: #c0d7ff;
	--color-layer-3: #cff9ff;
	--color-layer-4: white;
	--color-navbar: #7e7bff;
	--color-navbar-highlight: #3C3F98;
	--color-scrollbar-track: #323456;
	--font-family-name: "IBM Plex Mono", monospace;
	--font-display:"IBM Plex Mono", monospace;
}
  
@media (prefers-color-scheme: dark) {
	@theme {
		--color-layer-1: #323456;
		--color-layer-2: #2e5073;
		--color-layer-3: #57728f;
		--color-layer-4: #dde7ee;
		--color-navbar: #202547;
		--color-navbar-highlight: #191919;
		--color-scrollbar-track: #191919;
		--font-family-name: "IBM Plex Mono", monospace;
		--font-display:"IBM Plex Mono", monospace;
	}
}
 
@media (max-width: 700px){

  }

  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	top: 0;
	padding: 0.5rem 0 0.5rem 0.25rem;
	width: 100%;
	transition: top 0.3s;
	background-color: var(--theme-background-color);
	/*box-shadow: 0 2px 2px rgba(0,0,0,0.25);*/
	z-index: 5;
  }

  .folder:nth-child(1):hover {
	#file {
		top: 12px;
	}
  }
  
  /* .navlist-theme-toggle-container {
	display: flex;
	position: relative;
	width: fit-content;
	z-index: 5;
  }
  
  .home-link {
	text-decoration: none;
	cursor: pointer;
  }
  
  .home-link:visited {
	text-decoration: none;
  }
  
  .desktop-logo { 
	display: flex;
	position: relative;
	width: fit-content;
	font-size: 2rem;
	color: white;
	font-weight: bold;
	padding: 0 0 0 1rem;
	cursor: pointer;
	z-index: 5;
  }
  
  .mobile-menu-label {
	display: block;
	z-index: 6;
  }
  
  #mobile-menu-toggle {
	width: 0px;
	height: 0px;
  }
  
  .nav-list {
	display: flex;
	position: relative;
	width: fit-content;
	padding: 0 1rem 0 1rem;
	border-radius: 4rem;
	margin: 0 5.25rem 0 0;
	background-color: var(--theme-navbar-color);
  }
  
  .menu-item-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 0 0.5rem 0;
	padding: 0.5rem 3rem 0.5rem 3rem;
  }
  
  .menu-item-container:hover {
	background-color: var(--theme-navbar-highlight-color);
	border-radius: 5rem;
  }
  
  .menu-item-container-style {
	background-color: var(--theme-navbar-highlight-color);
	border-radius: 5rem;
  }
  
  .menu-item-container a{
	text-decoration: none;
  }
  
  .menu-item{
	display: flex;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
  }
  
  .theme-toggle-container {
	position: absolute;
	display: block;
	top: -1.5rem;
	right: -0.5rem;
	margin: 0 1rem 0 0;
	width: fit-content;
  }
  
  .theme-toggle {
	width: 0px;
	height: 0px;
  }
  
  .mobile-theme-label {
	display: none;
  }
  
  .mobile-theme-toggle {
	width: 0px;
	height: 0px;
  } */
  
  .night-theme-icon {
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	cursor: pointer;
	z-index: 5;
  }
  
  .night-theme-svg-color {
	fill: var(--theme-navbar-color);
  }
  
  .night-theme-icon:hover > .night-theme-svg-color {
	fill: var(--theme-navbar-highlight-color);
  }
  
  .theme-toggle:checked ~ .night-theme-icon {
	display: none;
  }
  
  .day-theme-icon {
	display: none;
  }
  
  .theme-toggle:checked ~ .day-theme-icon {
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	cursor: pointer;
	z-index: 5;
  }
  
  .day-theme-svg-color {
	fill: var(--theme-navbar-color);
  }
  
  .day-theme-icon:hover > .day-theme-svg-color {
	fill: var(--theme-navbar-highlight-color);
  }
/*   
  .home-svg {
	display: none;
  }
  
  .about-svg {
	display: none;
  }
  
  .team-svg {
	display: none;
  }
  
  .projects-svg {
	display: none;
  }
  
  .open-menu-svg {
	display: none;
  }
  
  .close-menu-svg {
	display: none;
  }
  
  @media (max-width: 1080px) {
  
	.menu-item-container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: 0.5rem 0 0.5rem 0;
	  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
	}
  
	.desktop-logo { 
	  font-size: 1.75rem;
	}
  
	.day-theme-icon {
	  width: 60px;
	  height: 60px;
	}
	
	.theme-toggle:checked ~ .day-theme-icon {
	  width: 60px;
	  height: 60px;
	}
  
	.night-theme-icon {
	  width: 60px;
	  height: 60px;
	}
  }
  
  @media (max-width: 870px) {
  
	.navlist-theme-toggle-container {
	  display: flex;
	  width: 100%;
	}
  
	.header {
	  padding: 0;
	  width: 100%;
	  background-color: var(--theme-navbar-color);
	  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	  z-index: 6;
	}
  
	.navbar {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  width: 100%;
	  background-color: var(--theme-navbar-color);
	  margin: 3rem 0 0 0;
	  z-index: 6;
	}
  
	.desktop-logo {
	  display: flex;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  justify-content: center;
	  padding: 0.5rem;
	  background-color: var(--theme-navbar-color);
	  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	  z-index: 5;
	}
  
	.nav-list {
	  flex-direction: column;
	  width: 100%;
	}
  
	.menu-item-container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 0.5rem;
	}
  
	.menu-item-container-style {
	  border-radius: 0.5rem;
	}
  
	.menu-item-container:hover {
	  border-radius: 0.5rem;
	}
  
	.menu-item-container a{
	  text-decoration: none;
	}
  
	.menu-item {
	  font-size: 1.5rem;
	}
  
	.menu-item-after {
	  display: flex;
	  cursor: pointer;
	  color: white;
	  font-size: 1.25rem;
	  font-weight: bold;
	  padding-left: 0.75rem;
	}
  
	.home-svg {
	  display: block;
	  width: 20px;
	  height: 20px;
	  margin-right: 0.5rem;
	}
	
	.about-svg {
	  display: block;
	  width: 20px;
	  height: 20px;
	  margin-right: 0.5rem;
	}
	
	.team-svg {
	  display: block;
	  width: 20px;
	  height: 20px;
	  margin-right: 0.5rem;
	}
	
	.projects-svg {
	  display: block;
	  width: 20px;
	  height: 20px;
	  margin-right: 0.5rem;
	}
  
	.open-menu-svg {
	  display: block;
	  width: 36px;
	  height: 36px;
	  position: relative;
	  color: white;
	}
  
	.close-menu-svg {
	  display: none;
	  width: 32px;
	  height: 32px;
	  color: white;
	}
  
	.mobile-menu-label {
	  display: flex;
	  position: absolute;
	  right: 1rem;
	  top: 0.75rem;
	  z-index: 6;
	}
	
	#mobile-menu-toggle {
	  display: block;
	  width: 100%;
	}
  
	#mobile-menu-toggle:checked + .navbar {
	  display: flex;
	  width: 100%;
	}
  
	.theme-toggle:checked ~ .day-theme-icon {
	  bottom: 0.75rem;
	  left: 0.75rem;
	  width: 36px;
	  height: 36px;
	}
  
	.night-theme-icon {
	  bottom: 0.75rem;
	  left: 0.75rem;
	  width: 36px;
	  height: 36px;
	}
  
	.theme-toggle-container {
	  position: absolute;
	  display: block;
	  top: 0;
	  left: 0;
	  margin: 0;
	  width: fit-content;
	}
  
  }
  
  @media (max-width: 400px) {
	.mobile-menu-item-after {
	  font-size: 1rem;
	}
  } */